<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">

                        I working as Software Engineer at GlobalLogic currently living in Nagpur, India. Working on Java | Android platform in Healthcare Domain. Passionate of programming and solving problems.<br/><br/>
			Loves to explore new technologies. I am also interested in sports and music.<br><br>
			I enjoy creating great products with great user experiences and working in a dynamic environment with a focus on good development practices,automation.
		</div>
		<br>
	</div>
</div>
